@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";

}

<div class="hero-section">
    <div class="hero-content">
        <h1 class="hero-title">Платформа Courses для обучения и запуска ваших курсов</h1>

        <p class="hero-subtitle">
            Создавайте онлайн-курсы, собирайте базу, принимайте оплаты через Get Модуль, управляйте процессами легко и быстро
        </p>

        <hr class="hero-divider">

        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="../Account/Register" class="btn hero-btn hero-btn-outline">
                    Создать курс
                </a>

                <a href="../Account/Register" class="btn hero-btn hero-btn-outline">
                    Присоединиться к курсу
                </a>
            }
            else if (User.IsInRole("Teacher"))
            {
                <a asp-controller="Home" asp-action="Teacher" class="btn hero-btn hero-btn-primary">
                    Создать курс
                </a>
            }
            else if (User.IsInRole("Student"))
            {
                <a asp-controller="Home" asp-action="Student" class="btn hero-btn hero-btn-outline">
                    Присоединиться к курсу
                </a>
            }
        </div>
    </div>
</div>

<p class="hero-subtitle">
    Создавайте онлайн-курсы, собирайте базу, принимайте оплаты через Get Модуль, управляйте процессами легко и быстро
</p>

<p class="hero-subtitle">
    Создавайте онлайн-курсы, собирайте базу, принимайте оплаты через Get Модуль, управляйте процессами легко и быстро
</p>

<p class="hero-subtitle">
    Создавайте онлайн-курсы, собирайте базу, принимайте оплаты через Get Модуль, управляйте процессами легко и быстро
</p>

<p class="hero-subtitle">
    Создавайте онлайн-курсы, собирайте базу, принимайте оплаты через Get Модуль, управляйте процессами легко и быстро
</p>
